/* .App {
  align-items: center;
} */
html{
  background-color: rgb(31, 30, 30);
  cursor: none;
}
.text{
  font-family: 'Turret Road', cursive;
}
.highScoreTable{
  width: 240px;
  border: 3px solid rgb(111, 81, 41);
  background-color: burlywood;
  border-radius: .5em;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
}
.user{
  width: 200px;
  padding: 10px;
  margin-top: 5px;
  background-color: rgba(240, 147, 61, 0.39);
  border: 2px solid rgba(192, 132, 19, 0.5);
  display: inline-flex;
  justify-content: space-evenly;
  vertical-align: middle;
}
.time{
  font-family: 'Turret Road', cursive;
  border: solid 2px black;
  border-radius: 4px;
  font-size: 12px;
}
.menuItem{
  position: absolute;
  color:black;
  font-weight: bolder;
  border-style:solid;
  font-size: 18px;
  border-color:rgb(0, 0, 0);
  border-radius:10px;
  background-color: rgb(228, 153, 13);
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menuItem:hover{
  font-size: 25px;
}
.menuBtnSmall{
  position: absolute;
  color:black;
  font-weight: bolder;
  border-style:solid;
  font-size: 18px;
  border-color:rgb(0, 0, 0);
  border-radius:10px;
  background-color: rgb(228, 153, 13);
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menuBtnSmall:hover{
  font-size: 20px;
}
input {
  cursor: none;
}
.username_label{
color: black;
}
#username{
  cursor: none;
  margin-bottom: 10px;
  text-align: center;
  border: solid 2px black;
  font-family: 'Turret Road', cursive;
  font-weight: bold;
}

label {
  cursor: none;
  color: white;
}
.highScoreSubmit{
    position: absolute;
    color:black;
    font-weight: bolder;
    border-style:solid;
    font-size: 18px;
    border-color:rgb(0, 0, 0);
    border-radius:10px;
    background-color: rgb(228, 153, 13);
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
}

.dropdown{
  animation: 1s ease-out 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
