.canvas {
    background-color: cornsilk;
    margin-top:50px;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
  
input {
    cursor: none;
}

label {
    cursor: none;
    color: white;
}

button {
    cursor: none;
}

#incDecBtn {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 28px;
    height: 28px;
    text-Align: 'center';
    cursor: none;
}

#circleCursor {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border: 2px solid darkgreen;
    background: linear-gradient(to bottom, rgb(83, 255, 60) 0, rgb(27, 255, 6));
}

.infoPaper {
    text-align: center;
    font-family: 'Turret Road', cursive;
}

/* If screen is bigger than min-width  */

@media only screen and (min-width: 70.25em) {
    .canvas {
        background-color: cornsilk;
        margin-top:50px;
        margin-left:450px;
        z-index: 0;
    }
}