
.canvas {
    background-color: cornsilk;
   
    z-index: 0;
}

input{
    cursor: none;
}

label{
    cursor: none;
    color: white;
}
button{
    cursor: none;
}
#incDecBtn{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 28px;
    height: 28px;
    text-Align: 'center';
    cursor: none;
}

#circleCursor {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border: 2px solid darkgreen;
    background: linear-gradient(to bottom, rgb(83, 255, 60) 0, rgb(27, 255, 6));
}

.infoPaper {
    text-align: center;
    font-family: 'Turret Road', cursive;
}

.btnPanel {
    text-align: center;
    position: absolute;
    margin-left: 660px;
}